
@import url("./reset.css");
@import url("./fonts.css");

/* --- */

:root {
	/* colors */

	--color-blue: #846ff7;
	--color-green: #70e0bb;
	--color-yellow: #f7f36f;
	--color-red: #f0504f;
	--color-white: #fdfdfd;
	--color-gray: #2a2d30;
	--color-black: #0d0d0d;
	--color-pure-white: #ffffff;
	--color-pure-black: #000000;

	--clr-body-bg: var(--color-red);
	--clr-header-bg: var(--color-black);

	--clr-body-fg: var(--color-white);
	--clr-header-fg: inherit;
}

/* --- */

body {
	display: flex;
	flex-flow: column nowrap;
	font-family: noto-sans;

	background: var(--clr-body-bg);
	color: var(--clr-body-fg);
}

/* --- */

header {
	padding: 2rem 0;
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;

	background: var(--clr-header-bg);
	color: var(--clr-header-fg);
}

.heading {
	font-size: clamp(1rem, 10vw, 3rem);
	font-weight: bold;
}
