
@import url("./reset.css");
@import url("./fonts.css");

/* --- */

:root {
	/* colors */

	--color-blue: #846ff7;
	--color-green: #70e0bb;
	--color-yellow: #f7f36f;
	--color-red: #f0504f;
	--color-white: #fdfdfd;
	--color-gray: #2a2d30;
	--color-black: #0d0d0d;
	--color-pure-white: #ffffff;
	--color-pure-black: #000000;

	--clr-body-bg: var(--color-red);
	--clr-header-bg: var(--color-black);
	--clr-footer-bg: inherit;
	--clr-single-player-button-bg-color: var(--color-blue);
	--clr-multi-player-button-bg-color: var(--color-green);

	--clr-body-fg: var(--color-white);
	--clr-header-fg: inherit;
	--clr-footer-fg: inherit;

}

/* --- */

body {
	display: flex;
	flex-flow: column nowrap;
	font-family: noto-sans;

	background: var(--clr-body-bg);
	color: var(--clr-body-fg);
}

/* --- */

header {
	padding: 2rem 0;
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;

	background: var(--clr-header-bg);
	color: var(--clr-header-fg);
}

.heading {
	font-size: clamp(1rem, 10vw, 3rem);
	font-weight: bold;
}

/* --- */

main {
	flex-grow: 1;

	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
}

.start-screen {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: center;
	gap: 10px;
}

.start-button {
	padding: 1rem 2rem;
	font-size: clamp(0.5rem, 5vw, 1.4rem);
	border: none;
	font-weight: bold;
	transition: 1s;
}

.start-button:hover,
.start-button:focus-visible {
	transform: translateY(-10px);
}

.start-single-player-button {
	background: var(--clr-single-player-button-bg-color);
}

.start-multi-player-button {
	background: var(--clr-multi-player-button-bg-color);
}

/* --- */

footer {
	padding: 1rem 0;

	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;

	background: var(--clr-footer-bg);
	color: var(--clr-footer-fg);
}

.github-image {
	width: 30px;
}
